html,
body {
  padding: 0;
  margin: 0;
}
#wrapper {
  background: #2a283d;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.side {
  position: absolute;
  background: rgba(0, 0, 0);
  width: 300px;
  opacity: 0;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}
.side.left {
  top: 0;
  height: 100vh;
  left: -300px;
  transition: left 1s ease;
}
.side.left.animation {
  left: 0px;
  opacity: 1;
}
.side.right {
  top: 0;
  height: 100vh;
  right: -300px;
  transition: opacity 2s ease, right 2s ease;
}
.side.right.animation {
  right: 0px;
  opacity: 1;
}
